{% extends 'baseTemplate.html' %}
{% block content %}
    <div>
    <div class="row">
        <div class="large-8 columns">
{#            <h4>8 columns</h4>#}
            <img style="width: 600px;height: 400px;" src="../static/images/furniture.jpeg" alt="furniture">

        </div>

        <div class="large-4 columns">
            <div style="margin-top: 65px;margin-left: 80px;">
                <p>TV Unit Furniture </p>
                <button class="button">BuyNow</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <ul class="logo-images">
                <li><a href=""><img src="../static/images/furniture.jpeg" alt="furniture-logo"></a> </li>
                <li><a href=""><img src="../static/images/furniture-list.jpeg" alt="furniture-logo"></a> </li>
                <li><a href=""><img src="../static/images/furniture-tv.jpeg" alt="furniture-logo"></a> </li>
                <li><a href=""><img src="../static/images/furniture.jpeg" alt="furniture-logo"></a> </li>
                <li><a href=""><img src="../static/images/furniture.jpeg" alt="furniture-logo"></a> </li>
                <li><a href=""><img src="../static/images/furniture.jpeg" alt="furniture-logo"></a> </li>

            </ul>

        </div>
        <div class="large-2 columns">

        </div>
    </div>

    </div>
{% endblock %}